<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
EDIT AUTHOR:
<form action="/author/save" method="post">
    <input type="hidden" name="id" th:if="${author != null}" th:value="${author.id}">
    <input type="text" name="name" th:value="${author.name}"><br>
    <input type="text" name="surname" th:value="${author.surname}"><br>
    <input type="email" name="email" th:value="${author.email}"><br>
    <select name="gender" th:value="${author.gender}">
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
    </select><br>
    <textarea name="bio" th:text="${author.bio}"></textarea><br>
   <input type="file" name="image" th:value="${author.imageUrl}">
    <input type="submit" value="Edit author"/>
</form>
</body>
</html>